body {
  color:peachpuff;
    background-image: url(img.jpg);
     background-size:cover; 
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-size: 1400px;
    
    
  }
  h1 {
    font-family: cursive;
    text-align: center;
  }
  h2{
    font-family: cursive;
  }
  .container {
    float: left;
    width: 577px;
  
  }
  .div2 {
    float: right;
    width: 327px;
    height: 210px;
  }
  .div3 {
    float: right;
    position: relative;
    width: 317px;
    height: 210px;
    
  }
  .div4 {
    position: relative;
    width: 10px;
    height: 10px;
    left: 50px;
    bottom: 14px;
    background-color: rgb(150, 150, 150);
  }
  .div5 {
    position: relative;
    overflow:scroll;
    width: 330px;
    height: 119px;
    top: 10px;
  
   
  }
  
  button {
    background-color: rgb(79, 117, 42);
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
  }
  .button1:hover {
    background-color: #5898ad;
  }
  .button2:hover {
    background-color: #a72f27;
  }
  .button3:hover {
    background-color: #1f1c99;
  }
  .button1 {
    background-color: #77d4f3;
  }
  .button2 {
    background-color: #f44336;
  }
  .button3 {
    background-color: #100cdd;
  }
  .button9{
    background-color:lightgreen;
  }
  .button8{
    background-color: lightcoral;
  }
 
  table.product-list {
    width: 100%;
  }
  table,
  th,
  td {
    border: solid 1px rgb(250, 250, 250);
    border-collapse: collapse;
    padding: 2px 3px;
    text-align: center;
  }
  table.b {
    table-layout: inherit;
    width: 110%;
  }
  input.b{
  width: 120px;
  }
  td.b{
    width: 54px;
  }
  input.c{
    width: 90px;
  }
  td.d{
    width: 158px;
  }
  td.c{
    width: 101px;
  }
  td.e{
    width: 104px;
  }
  
  .button7{
    background-color: black;
  }
  input{
    width: 120px;
  }